boing wav "audio/boing.wav"
click wav "audio/click.wav"
error wav "audio/error.wav"
stutter wav "audio/stutter.wav"
box wav "audio/box.wav"
thud wav "audio/fp_thud.wav"
golfcup wav "audio/fp_golfcup.wav"
trophyget wav "audio/fp_trophyget.wav"

dooropen wav "audio/fp_dooropen.wav"
doorclose wav "audio/fp_doorclose.wav"

bosssong wav "audio/fp_bosssong.wav"
cavesong wav "audio/fp_cavesong.wav"
deathsong wav "audio/fp_deathsong.wav"
intersong wav "audio/fp_intermissionsong.wav"
junglesong wav "audio/fp_junglesong.wav"
mainsong wav "audio/fp_mainsong.wav"
menusong wav "audio/fp_menusong.wav"
naturesong wav "audio/fp_naturesong.wav"