boing wav "audio/boing.wav"
stutter wav "audio/stutter.wav"
box wav "audio/box.wav"
thud wav "audio/fp_thud.wav"
golfcup wav "audio/fp_golfcup.wav"
trophyget wav "audio/fp_trophyget.wav"

bosssong wav "audio/fp_bosssong.wav"
cavesong wav "audio/fp_cavesong.wav"
intersong wav "audio/fp_intermissionsong.wav"
junglesong wav "audio/fp_junglesong.wav"
mainsong wav "audio/fp_mainsong.wav"
menusong wav "audio/fp_menusong.wav"