boing wav "audio/boing.wav"
stutter wav "audio/stutter.wav"
box wav "audio/box.wav"
thud wav "audio/fp_thud.wav"
golfcup wav "audio/fp_golfcup.wav"
trophyget wav "audio/fp_trophyget.wav"
cavesong wav "audio/fp_cavesong.wav"